@use "sass:color"
@import "../../../styles/board.module.sass"

.board
  border: solid 1px black

.teamListArea
  @include board-area(darkRed)

.roleListArea
  @include board-area(lightBlue)

.otherArea
  @include board-area(blue)

.cardPickerArea
  &.innocent
    @include board-area(lightBlue)
  &.guilty
    @include board-area(darkRed)
  &.modifier
    @include board-area(green)


.team
  width: 33%

.role
  width: 33%

.teamPicker
  width: 33%

.trackStart
  float: left

.track
  height: 50%

.northTrack
  @extend .track

.southTrack
  @extend .track
